<div class="flex flex-col items-center gap-5 pt-10">
  <div class="flex justify-center gap-3">
    <button class="btn btn-neutral" (click)="get500Error()">Get 500 error</button>
    <button class="btn btn btn-accent" (click)="get400Error()">Get 400 error</button>
    <button class="btn btn btn-secondary" (click)="get401Error()">Get 401 error</button>
    <button class="btn btn btn-success" (click)="get404Error()">Get 404 error</button>
    <button class="btn btn btn-error" (click)="get400ValidationError()">Get 400 validation error</button>
  </div>

  @if (validationErrors().length > 0) {
    <div class="alert alert-error max-w-lg shadow-lg">
      <div class="flex flex-col items-start w-full">
        <h3 class="font-bold mb-2">Validation Errors</h3>
        <ul class="list-disc list-inside text-left">
          @for (error of validationErrors(); track $index) {
            <li>{{ error }}</li>
          }
        </ul>
      </div>
    </div>
  }
</div>